SITE_URL=https://madelcap.com
PUBLIC_CLINIC_NAME=Clinica Madelcap
PUBLIC_WHATSAPP_NUMBER=595971754545
PUBLIC_CONTACT_EMAIL=recepcionmadelcap@gmail.com
PUBLIC_ADDRESS=Teniente Rivas 136, Centro, Nemby
PUBLIC_GOOGLE_MAPS_URL=https://www.google.com/maps/place/MADELCAP/
